$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@keyframes celebrate {
  0% {color: $color2;}
  50% {color: $color3;}
  100% {color: $color2;}
}

@keyframes spin {
  @for $i from 0 through 100 {
    #{$i * 1%} {
      transform: rotate(#{$i / 10}turn);
    }
  }
}

.winner {
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: celebrate, spin;
  animation-timing-function: ease-in-out;
}

.delay0 {
  animation-delay: .25;
}

.delay1 {
  animation-delay: .5s;
}

.delay2 {
  animation-delay: .75s;
}
