$ttt-width: 700px;
$prev-game-width: $ttt-width / 2;
$none: 0;
$max-width: 100%;
$norm-height: 50px;

.box {
  height: $ttt-width / 3;
  padding: $none;
}

.prev-ttt-container > .row > .box {
  height: $prev-game-width / 3;
}

footer {
  height: $norm-height;
  width: $max-width;
}

.prev-ttt-container {
  width: $prev-game-width;
}

.ttt-container {
  width: $ttt-width;
}

.message-container {
  min-height: $norm-height * 1.5;
}
