$ttt-width: 700px;
$none: 0;
$max-width: 100%;
$foot-height: 50px;

.box {
  height: $ttt-width / 3;
  padding: $none;
}

footer {
  height: $foot-height;
  width: $max-width;
}

.ttt-container {
  width: $ttt-width;
}
