@mixin tic-border($top, $right, $bottom, $left) {
  border-color: $color5;
  border-style: solid;
  border-width: $top $right $bottom $left;
}

.box {
  font-size: $ttt-width / 4 ;
  text-align: center;
}

.box0 {
  $params: (0 1px 1px 0);
  @include tic-border($params...)
}

.box1 {
  $params: (0 1px 1px 1px);
  @include tic-border($params...)
}

.box2 {
  $params: (0 0 1px 1px);
  @include tic-border($params...)
}

.box3 {
  $params: (1px 1px 1px 0);
  @include tic-border($params...)
}

.box4 {
  $params: (1px 1px 1px 1px);
  @include tic-border($params...)
}

.box5 {
  $params: (1px 0 1px 1px);
  @include tic-border($params...)
}

.box6 {
  $params: (1px 1px 0 0);
  @include tic-border($params...)
}

.box7 {
  $params: (1px 1px 0 1px);
  @include tic-border($params...)
}

.box8 {
  $params: (1px 0 0 1px);
  @include tic-border($params...)
}
