@mixin tic-border($top, $right, $bottom, $left) {
  border-color: $color5;
  border-style: solid;
  border-width: $top $right $bottom $left;
}

.box0-0 {
  $params: (0 1px 1px 0);
  @include tic-border($params...)
}

.box0-1 {
  $params: (0 1px 1px 1px);
  @include tic-border($params...)
}

.box0-2 {
  $params: (0 0 1px 1px);
  @include tic-border($params...)
}

.box1-0 {
  $params: (1px 1px 1px 0);
  @include tic-border($params...)
}

.box1-1 {
  $params: (1px 1px 1px 1px);
  @include tic-border($params...)
}

.box1-2 {
  $params: (1px 0 1px 1px);
  @include tic-border($params...)
}

.box2-0 {
  $params: (1px 1px 0 0);
  @include tic-border($params...)
}

.box2-1 {
  $params: (1px 1px 0 1px);
  @include tic-border($params...)
}

.box2-2 {
  $params: (1px 0 0 1px);
  @include tic-border($params...)
}
